<h1 class="h1">gestPDO</h1>
Gestionnaire de connexion et de requetage PDO
<p>
Cette librairie est téléchargeable sur framagit:<br>
<a target="git" href="https://git.framasoft.org/legraLibs/gestPDO">https://git.framasoft.org/legraLibs/gestPDO</a><br>
</p>

