<select>
	<option>1</option>
	<option selected="selected" class="selected">selected</option>
	<option>3</option>
	<option>4</option>
</select><br>

<span class="inputLabel">texte:</span><input type="text" placeholder="texte par defaut" /><br>
