<div class="sectionTitre">class section titre</div>
<div class="binary">class binary</div>
<div class="chroot">class chroot</div>

<pre class="coding_root">class coding_root</pre>
<pre class="coding_user">class coding_user</pre>
<pre class="coding_code">class coding_code</pre>

Utilisation inline de la <span class="coding_code">class coding_code</span>&lt;br&gt;<br>
Cela peut poser quelques problèmres pour les lignes suivantes.&lt;br&gt;<br>
&lt;br&gt;<br>
<span class="coding_filename">SPAN Modifier:<span class="filename">SPAN nom_du_fichier</span></span>&nbsp;spanspan
<pre class="coding_file">PRE class coding_file: Contenu d'un <span class="filename">fichier</span></pre>&nbsp;prepre&lt;br&gt;<br>

<span class="coding_filename">SPAN Modifier:<span class="filename">SPAN nom_du_fichier</span></span>spanspan
<div class="coding_file">DIV class coding_file: Contenu d'un <span class="filename">fichier</span></div>&nbsp;divdiv&lt;br&gt;<br>


<div class="coding_filename">DIV Modifier:<span class="filename">SPAN nom_du_fichier</span></div>&nbsp;divdiv
<pre class="coding_file">PRE class coding_file: Contenu d'un <span class="filename">fichier</span></pre>&nbsp;divdiv&lt;br&gt;<br>

<div class="coding_filename">DIV Modifier:<span class="filename">SPAN nom_du_fichier</span></div>&nbsp;divdiv
<div class="coding_file">DIV class coding_file: Contenu d'un <span class="filename">fichier</span></div>&nbsp;divdiv&lt;br&gt;<br>



<h2>la notation des systèmes de fichiers:</h2>
class <span class="fsRoot">/fsRoot</span><span class="fsDir0">/fsDir0/</span><span class="fsDir1">fsDir1/</span><span class="fsDir2">fsDir2/</span><span class="fsDir3">fsDir3/</span><span class="fsDir4">fsDir4/</span><span class="fsDir5">fsDir5/</span><span class="filename">nom_du_fichier</span>


